<a href="/user/clear">Logout</a>
<a href="/restaurant/create">Create</a>

<br>
<br>
<div class="rating">
<% @restaurant.each do |rest| %>
  <p><a href="/rating/<%=rest.id%>"><%= rest.name %></a></p>
  <p><%= rest.avgrating %></p>
<% end %>
</div>

<button type="button" id="test_button" name="button"></button>
