<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <%= e %>
  <% end %>
<% end %>

<h2>Registration</h2>
<form class="" action="/user/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>First: <input type="text" name="first_name" value=""></p>
  <p>Last: <input type="text" name="last_name" value=""></p>
  <p>Email: <input type="text" name="email" value=""></p>
  <p>Password: <input type="text" name="password" value=""></p>
  <input type="submit" value="create">
</form>

<h2>Login</h2>
<form class="" action="/user/login" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Email: <input type="text" name="email" value=""></p>
  <p>Password: <input type="text" name="password" value=""></p>
  <input type="submit" name="" value="Login">
</form>
